:root{
    --white: #ffffff;
    --yellow: #f3e956;
    --green: #5fa499;
    --salmon: #c45642;
}

* {
    border: none;
	margin: 0;
	/* padding: 0; */
	/* list-style: none; */
	text-decoration: none;
	outline: none;
    
}

#logo{
    position:fixed;
    top: -50px;
    left: -0px;
    margin: 50px 10% 0px 10px;
    width: 75px;
    height: 75px;
    padding: 2px;
    border-radius: 20px 20px 20px 20px ;
    background-image: url(../src/logo_blank.png);
    background-size: cover;
}
header{
    position: fixed;
    right:-9px;
    top: -10px;
    height: 65px;
    width: 99%;
    padding: 8px;
    margin: 8px;
    border:1px solid black;
    opacity: 0.75;
    color: rgb(0, 0, 0);
    background-color: var(--white); 
    background-size:cover;
    text-align: center;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.12);
}
h1{
    font-size: 3rem;
    color: var(--yellow);
    -webkit-text-stroke: var(--green) .9px;
}
img{
    max-width: 100%;
    border-radius: 0px 0px 25px 25px ;
}
#banner,#banner2, #banner3,#banner4,#banner5 {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 4.5%;
    max-width: 100%;
    height: 500px;
    background-position: 0px 30%; 
    background-size:cover;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.12);
}
#banner{
    background-image: url(../src/design1_image1.jpg);
}
#banner2{
    background-image: url(../src/design1_image2.jpg);
}
#banner3{
    background-image: url(../src/img3.jpg);
}
#banner4{
    background-image: url(../src/img1.jpg);
}
#banner5{
    background-image: url(../src/img2.jpg);
}
div>nav#menu{
    position: fixed;
    display: flex;
    right: 0px;
    top: 0px;
}

#menu>a{
    color: black;
    font-size: 1.5rem;
    padding: 0px 10px;
    display: inline-block;
    position:relative;
    
}
#menu>a:after{
    content: "";
    position: absolute;
    top: 25px;
    left:0;
    height: 2px;
    width: 100%;
    background: var(--green);
    transform-origin: bottom right;
    transform:scalex(0);
    transition: transform 0.2s ease-in-out;
}
#menu>a:hover:after{
    transform-origin: bottom left;
    transform:scalex(1);
}


#titulo{
    margin-top: 40px;
    height: 30px;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(243, 233, 86);
    -webkit-text-stroke: var(--green) .9px;
    background-color: rgb(255, 255, 255); 
    background-size:cover;
}
.contenido{
    margin: 100px 40% 100px 40%;
    padding: 30px 30px 30px 30px;
    font-size: 25px;
    border-radius: 20px 20px 20px 20px ;
    border:1px solid black;
    background-color: rgb(255, 255, 255); 
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.34); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.34);
}
.contenido:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
    background-color: rgb(255, 255, 255); 
}

table.game__table {
    border: 1px solid #F3E956;
    background-color: #EEEEEE;
    text-align: left;
    border-collapse: collapse;
    
}
table.game__table td, table.game__table th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.game__table thead {
    background: #5FA499;
    background: linear-gradient(to top, #87bbb2 0%, #6fada3 66%, #5FA499 100%);
    border-bottom: 2px solid #444444;
}

#cuerpo_info{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
}
#info>div>h4, #info>div>p{
    display: inline;
}
#info>div{
    margin-top: 10px;
}

footer>ul{
    list-style-type:none;
}
article>ul{
    list-style-type:circle;
}

#cuerpo_rules{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 30% 0;
}
#cuerpo_rules>article{
    margin-top: 30px;
}
#cuerpo_rules>article>p, #cuerpo_rules>article>ol>li>h3{
    margin-top: 15px;
}

#cuerpo_rules>article>ol>li{
    margin-top: 15px;
}

body{
    margin: 2px 2px 10% 2px;
}   

main>#lineaVertical{
    float:right;
    position: absolute;   
    right:50%;
    top: 82%;
    height: 700px;
    width: 1px;
    background-color: var(--green);
    z-index: -1;
}

#about{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
#about>article{
    margin-top: 50px;
    width:60% ;
    font-size: 25px;
    border-radius: 20px 20px 20px 20px ;
}
#about>article>h4{
    display: flex;
    position: relative;
    left: 50%;
    top: 25px;
    padding: 1%;
    transform: translate(-50%,-50%);
    width: fit-content;
    background-color: rgb(255, 255, 255); 
    border-radius: 20px 20px 20px 20px ;
    border:1px solid black;
    box-shadow: 3px 3px 15px 2px rgba(0,0,0,0.34);
}
#about>article>p{
    display: none;
}
#about>article>h4:hover + p, #about>article>p:hover{
    display: inline-block;
    padding: 1%;
    margin-top: 0px;
    font-size: large;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.34);
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px ;
    border:1px solid black;
}

#contact>p{
    font-size: medium;
}

#letter{
    position: relative;
    top: -35px;
    right: -280px;
    width: 40px;
    height: 40px;
    background-image: url(../icons/letter.png);
    background-size:cover;
}
#contact:hover #letter{
    background-image: url(../icons/letter2.png);
    top: -45px;
    right: -280px;
}
#contact{
    height: 10%;
    width: 100%;
    margin-left: 40%;
    margin-top: 3%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
footer>ul>li>img{
    width: 60px;
    margin: 0 1px 0 1px;
}
footer>ul>li>img:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}
footer>ul{
    padding: 0;
    display: flex;
    margin-bottom: 20px;
}
#divfooter{
    content: "";
    margin-bottom: 20px;
    margin-top: 20px;
    width: 320px;
    height: 1px;
    background: var(--green);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.12);
}